$txt:#ffffff;

%blueBg {
  background-color: hsla(201deg 61% 40% / 90%);
  box-shadow: inset 0 0 40px hsla(192deg 81% 55% / 95%);
  border: 1px solid hsla(0deg 0% 100% / 90%);
}

@font-face {
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local("NotoSerifTC"), url("@/assets/fonts/NotoSerifTC-Medium.otf") format("oft")
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//藍色匡樣式
.txt {
  width: 80%;
  max-width: 85%;
  text-align: center;
  color: #ffffff;
  padding: 20px;
  margin-bottom: 30px;
  @extend %blueBg;
  outline: 1px solid hsla(0deg 0% 100% / 44%);
  outline-offset: -8px;
}

.animate {
  transition-delay: .1s;
  transition-duration: .25s;
  transition-timing-function: ease-in;
}

.slide-up {
  transform: translateY(0);
}

.slide-up.animate-active {
  transform: translateY(-100px);
}
.pointer:hover{
  cursor: pointer;
}
